<!--
  ~ This file is part of the Aquapilot package.
  ~ <p>
  ~ (c) Sébastien Vermeille <sebastien.vermeille@gmail.com>
  ~ <p>
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<!-- This config file disable the logs during junit execution -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>